<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="csrf-token" content="ziejbNeKwkIC3FzhZkIbOt85NVrOta8RTh6XVwDr">
    <meta property="og:type" content="website">


    <link rel="shortcut icon" type="image/png" href="https://globe-asset.com/asset/theme3/images/icon/icon.png">
    <title>
        Meme Orbit- Support ticket
    </title>

    <script src="https://kit.fontawesome.com/1b9f7a129a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/animate.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/font-awsome.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/helper.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/iziToast.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/reset.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/selectric.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- Smartsupp Live Chat script -->
    <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = 'ef6954688f5607eeaf5dbf93bebaadcd11df3840';
        window.smartsupp || (function (d) {
            var s, c, o = smartsupp = function () {
                o._.push(arguments)
            };
            o._ = [];
            s = d.getElementsByTagName('script')[0];
            c = d.createElement('script');
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?';
            s.parentNode.insertBefore(c, s);
        })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>



</head>

<body>


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="d-flex flex-wrap align-items-center">
                <div class="logo me-auto me-lg-0 ">
                    <a href="../dashboard/dashboard.html">
                        <img class="img-fluid rounded sm-device-img text-align"
                            src="../asset/theme3/images/logo/MEMEORBIT LOGO_122256.png" width="100%" alt="pp">
                    </a>
                </div>
            </div>
            <div id="google_translate_element"></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'en', // Set the original language of your website
                        includedLanguages: 'en,es,fr,de,pt,ru,zh-CN,ja,ar,it,nl,ko,tr,sv,pl,id,el,da,no,fi', // Include major country language codes
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                        autoDisplay: false
                    }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        </div>
    </header>
    <!-- End Header -->

    <main id="main" class="dashboard-main">
        <section class="dashboard-section">

            <div class="d-sidebar">


                <ul class="d-sidebar-menu">
                    <li class="active">
                        <a href="../dashboard/dashboard.html"><i data-feather="home"></i> Dashboard</a>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="zap"></i> Investment</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../dashboard/investmentplan.html"><i class="bi bi-chevron-double-right"></i>
                                    Investment plans</a>
                            </li>
                            <li class="">
                                <a href="../components/invest-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Invest log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="briefcase"></i> Deposit</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/deposit.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit</a>
                            </li>
                            <li class="">
                                <a href="../components/deposit-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="credit-card"></i> Withdraw</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/withdraw.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw</a>
                            </li>
                            <li class="">
                                <a href="../components/withdrawal-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="../components/transaction-log.html"><i data-feather="file-text"></i> Transaction
                            log</a>
                    </li>

                    <li class="">
                        <a href="../components/ticket.html"><i data-feather="life-buoy"></i> Support</a>
                    </li>

                    <li>
                        <a href="../index.html"><i data-feather="log-out"></i> Logout</a>
                    </li>
                </ul>

                <div class="d-plan-notice mt-4 mx-3">
                    <p class="mb-0">Your current plan
                        -N/A</p>
                    <a href="../dashboard/investmentplan.html">Upgrade plan <i class="bi bi-arrow-up"></i></a>
                </div>
            </div>


            <!-- mobile bottom menu start -->
            <div class="mobile-bottom-menu-wrapper">
                <ul class="mobile-bottom-menu">
                    <li>
                        <div class="dropdown" style="margin-left: 10px;">
                            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event)">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="../components/settings.html">Settings</a>
                                <a href="../index.html">Logout</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="../dashboard/dashboard.html" class="active">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="../dashboard/menu.html" class="">
                            <i class="bi bi-list"></i>
                            <span>Menu</span>
                        </a>
                    </li>



                    <!-- <li>
  <a href="https://globe-asset.com/withdraw" class="">
    <i class="bi bi-cash-coin"></i>
    <span>Withdraw</span>
  </a>
</li> -->

                </ul>
            </div>
            <!-- mobile bottom menu end -->


            <div class="dashboard-body-part">
                <div class="site-card">
                    <div class="card-header">
                        <div class="row gy-4">
                            <div class="col-md-8 text-md-start text-center">
                                <div class="tab-btn-group">
                                    <a href="../components/ticket.html" class="tab-btn"><i class="fa fa-inbox fa-lg"
                                            aria-hidden="true"></i>
                                        All ticket <span class="num">0</span>
                                    </a>
                                    <a href="../components/answered-ticket.html" class="tab-btn ">Answered
                                        <span class="num">0</span>
                                    </a>
                                    <a href="../components/pending-ticket.html" class="tab-btn active">
                                        Pending <span class="num">0</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4  text-md-end text-center">
                                <button id="new-ticket" class="btn main-btn btn-sm">Create ticket <i
                                        class="fa fa-envelope" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table site-table">
                                <thead>
                                    <tr>
                                        <th>Ticket id</th>
                                        <th>Subject</th>

                                        <th>Total reply</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-caption="Status" class="text-center" colspan="100%">
                                            No data found
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="add" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form action="t" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="_token" value="">
                        <div class="modal-content bg-body">
                            <div class="modal-header">
                                <h5 class="modal-title">Create ticket</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="text-light">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <input type="text" name="subject" class="form-control" required=""
                                                placeholder="Subject here" value="">
                                        </div>

                                    </div>
                                    <div class="row align-items-center mt-2">
                                        <div class="col-lg-12">
                                            <div class="form-group ticket-comment-box">
                                                <label for="exampleFormControlTextarea1">Message</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                    cols="30" name="message" placeholder="Massage"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div id="image-preview" class="image-preview">
                                                <label for="image-upload" id="image-label" class="text-white">Choose
                                                    file</label>
                                                <input type="file" name="file" id="image-upload" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn main-btn gen-btn">Create Ticket</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade " id="edit_modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <form action="" enctype="multipart/form-data" method="post">
                        <input type="hidden" name="_token" value=""> <input type="hidden" name="_method" value="PUT">
                        <div class="modal-content bg-body">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit ticket</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="text-light">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Subject</label>
                                            <input type="text" name="subject" class="form-control" required=""
                                                placeholder="Subject here" value="">
                                        </div>

                                    </div>
                                    <div class="row align-items-center mt-2">
                                        <div class="col-lg-12">
                                            <div class="form-group ticket-comment-box">
                                                <label for="exampleFormControlTextarea1">Message</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                    cols="30" name="message" placeholder="Massage"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div id="image-preview" class="image-preview">
                                                <label for="image-upload" id="image-label" class="text-white">Choose
                                                    file</label>
                                                <input type="file" name="file" id="image-upload" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn main-btn gen-btn">Update Ticket</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>




            <div class="modal fade" tabindex="-3" id="delete" role="dialog">
                <div class="modal-dialog" role="document">
                    <form action="" method="POST">
                        <input type="hidden" name="_token" value="ziejbNeKwkIC3FzhZkIbOt85NVrOta8RTh6XVwDr"> <input
                            type="hidden" name="_method" value="DELETE">
                        <div class="modal-content bg1">
                            <div class="modal-header text-white">
                                <h5 class="modal-title">Delete support ticket</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="text-light">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-white">
                                <p>Are you sure to delete this ticket</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn sp_btn_danger">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>


    <!-- <script src="https://globe-asset.com/asset/theme3/frontend/js/jquery.min.js"></script>
    <script src="https://globe-asset.com/asset/theme3/frontend/vendor/purecounter/purecounter.js"></script>
    <script src="https://globe-asset.com/asset/theme3/frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://globe-asset.com/asset/theme3/frontend/js/feather.min.js"></script>

    <script src="https://globe-asset.com/asset/theme3/frontend/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="https://globe-asset.com/asset/theme3/frontend/vendor/php-email-form/validate.js"></script>
    <script src="https://globe-asset.com/asset/theme3/frontend/js/selectric.min.js"></script>

    <script src="https://globe-asset.com/asset/theme3/frontend/js/iziToast.min.js"></script>
    <script src="https://globe-asset.com/asset/theme3/frontend/js/jquery.uploadPreview.min.js"></script>
    <script src="https://globe-asset.com/asset/theme3/frontend/js/user_dashboard.js"></script> -->

    <!-- <script>
        $(function() {
            'use strict'

            $('#new-ticket').on('click', function() {

                const modal = $('#add');

                modal.modal('show');

            })

            $('.edit-modal').on('click', function(e) {

                e.preventDefault();

                const modal = $('#edit_modal');

                modal.find('form').attr('action', $(this).data('route'));

                modal.find('input[name=subject]').val($(this).data('ticket').subject)
                modal.find('textarea[name=message]').val($(this).data('message').message)

                modal.modal('show');
            })

            $('.delete').on('click', function(e) {

                e.preventDefault();

                const modal = $('#delete');

                modal.find('form').attr('action', $(this).data('route'));

                modal.modal('show');

            })
        })
    </script> -->





    <script>
        'use strict'
        var url = "https://globe-asset.com/changeLang";

        $(".changeLang").change(function () {
            if ($(this).val() == '') {
                return false;
            }
            window.location.href = url + "?lang=" + $(this).val();
        });

        feather.replace();

        // responsive menu slideing
        $(".d-sidebar-menu>li>a").on("click", function () {
            var element = $(this).parent("li");
            if (element.hasClass("open")) {
                element.removeClass("open");
                element.find("li").removeClass("open");
                element.find("ul").slideUp(500, "linear");
            } else {
                element.addClass("open");
                element.children("ul").slideDown();
                element.siblings("li").children("ul").slideUp();
                element.siblings("li").removeClass("open");
                element.siblings("li").find("li").removeClass("open");
                element.siblings("li").find("ul").slideUp();
            }
        });

        $('.sidebar-open-btn').on('click', function () {
            $(this).toggleClass('active');
            $('.d-sidebar').toggleClass('active');
        });
    </script>

    <!-- Smartsupp Live Chat script -->
    <!-- <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = 'ef6954688f5607eeaf5dbf93bebaadcd11df3840';
        window.smartsupp || (function(d) {
            var s, c, o = smartsupp = function() {
                o._.push(arguments)
            };
            o._ = [];
            s = d.getElementsByTagName('script')[0];
            c = d.createElement('script');
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?';
            s.parentNode.insertBefore(c, s);
        })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript> -->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>

</html>