<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="csrf-token" content="IfWRu0HK90uM6YkSq7z5G5SwBfXHdETgd9iHTZaf">
    <meta property="og:type" content="website">

    <title>
        Meme-Orbit Profile Settings
    </title>

    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/animate.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/font-awsome.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/helper.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/iziToast.min.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/reset.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/selectric.css">
    <link rel="stylesheet" href="../asset/theme3/frontend/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">



    <!-- Smartsupp Live Chat script -->
    <!-- <script type="text/javascript">
        var _smartsupp = _smartsupp || {};
        _smartsupp.key = 'ef6954688f5607eeaf5dbf93bebaadcd11df3840';
        window.smartsupp || (function(d) {
            var s, c, o = smartsupp = function() {
                o._.push(arguments)
            };
            o._ = [];
            s = d.getElementsByTagName('script')[0];
            c = d.createElement('script');
            c.type = 'text/javascript';
            c.charset = 'utf-8';
            c.async = true;
            c.src = 'https://www.smartsuppchat.com/loader.js?';
            s.parentNode.insertBefore(c, s);
        })(document);
    </script>
    <noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript> -->



</head>

<body>


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-inner-pages">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <div class="d-flex flex-wrap align-items-center">
                <div class="logo me-auto me-lg-0 ">
                    <a href="../dashboard/dashboard.html">
                        <img class="img-fluid rounded sm-device-img text-align"
                            src="../asset/theme3/images/logo/MEMEORBIT LOGO_122256.png" width="100%" alt="pp">
                    </a>
                </div>
            </div>
            <div id="google_translate_element"></div>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'en', // Set the original language of your website
                        includedLanguages: 'en,es,fr,de,pt,ru,zh-CN,ja,ar,it,nl,ko,tr,sv,pl,id,el,da,no,fi', // Include major country language codes
                        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                        autoDisplay: false
                    }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript"
                src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        </div>
    </header>
    <!-- End Header -->

    <main id="main" class="dashboard-main">
        <section class="dashboard-section">

            <div class="d-sidebar">


                <ul class="d-sidebar-menu">
                    <li class="active">
                        <a href="../dashboard/dashboard.html"><i data-feather="home"></i> Dashboard</a>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="zap"></i> Investment</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../dashboard/investmentplan.html"><i class="bi bi-chevron-double-right"></i>
                                    Investment plans</a>
                            </li>
                            <li class="">
                                <a href="../components/invest-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Invest log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="briefcase"></i> Deposit</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/deposit.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit</a>
                            </li>
                            <li class="">
                                <a href="../components/deposit-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Deposit log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="has_submenu ">
                        <a href="#0"><i data-feather="credit-card"></i> Withdraw</a>
                        <ul class="submenu">
                            <li class="">
                                <a href="../components/withdraw.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw</a>
                            </li>
                            <li class="">
                                <a href="../components/withdrawal-log.html"><i class="bi bi-chevron-double-right"></i>
                                    Withdraw log</a>
                            </li>
                        </ul>
                    </li>

                    <li class="">
                        <a href="../components/transaction-log.html"><i data-feather="file-text"></i> Transaction
                            log</a>
                    </li>

                    <li class="">
                        <a href="../components/ticket.html"><i data-feather="life-buoy"></i> Support</a>
                    </li>

                    <li>
                        <a href="../index.html"><i data-feather="log-out"></i> Logout</a>
                    </li>
                </ul>

                <div class="d-plan-notice mt-4 mx-3">
                    <p class="mb-0">Your current plan
                        -N/A</p>
                    <a href="../dashboard/investmentplan.html">Upgrade plan <i class="bi bi-arrow-up"></i></a>
                </div>
            </div>


            <!-- mobile bottom menu start -->
            <div class="mobile-bottom-menu-wrapper">
                <ul class="mobile-bottom-menu">
                    <li>
                        <div class="dropdown" style="margin-left: 10px;">
                            <a href="#" class="dropdown-toggle" onclick="toggleDropdown(event)">
                                <i class="bi bi-person-circle"></i>
                                <span>Profile</span>
                            </a>
                            <div class="dropdown-menu">
                                <a href="../components/settings.html">Settings</a>
                                <a href="../index.html">Logout</a>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="../dashboard/dashboard.html" class="active">
                            <i class="bi bi-grid"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="../dashboard/menu.html" class="">
                            <i class="bi bi-list"></i>
                            <span>Menu</span>
                        </a>
                    </li>



                    <!-- <li>
          <a href="https://globe-asset.com/withdraw" class="">
            <i class="bi bi-cash-coin"></i>
            <span>Withdraw</span>
          </a>
        </li> -->

                </ul>
            </div>
            <!-- mobile bottom menu end -->

            <div class="dashboard-body-part">
                <div class="mobile-page-header">
                    <h5 class="title">Authentication</h5>
                    <a href="../dashboard/dashboard.html" class="back-btn"><i class="bi bi-arrow-left"></i>
                        Back</a>
                </div>

                <div class="d-flex flex-wrap justify-content-between mb-3">
                    <h5>Profile setting</h5>
                    <a href="../components/change-password.html" class="cmn-btn mb-2 sp_text_dark"><i
                            class="bi bi-shield-lock"></i> Change password</a>
                </div>
                <div class="site-card">
                    <div id="errorMsg" class="error"></div>
                    <div id="successMsg" class="success"></div>

                    <div class="card-body">
                        
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="">
                            <div class="row gy-4 justify-content-center">
                                <!-- <div class="col-md-4 pe-lg-5 pe-md-4 justify-content-center"> -->
                                    <!-- <div class="img-choose-div">
                                        <p>Profile picture</p>

                                        <img class=" rounded file-id-preview w-100" id="file-id-preview" src=""
                                            alt="pp">

                                        <input type="file" name="image" id="imageUpload" class="upload"
                                            accept=".png, .jpg, .jpeg" hidden>

                                        <label for="imageUpload" class="editImg btn main-btn w-100 gen-btn">Choose
                                            file</label>
                                    </div> -->
                                <!-- </div> -->
                                <div class="col-md-8">
                                    <div class="update">
                                        <div class="mb-3">
                                            <label>First name</label>
                                            <input type="text" id="fN" class="form-control" name="fname" value=""
                                                placeholder="Enter first name">
                                        </div>
                                        <div class="mb-3">
                                            <label>Last name</label>
                                            <input type="text" id="lN" class="form-control" name="lname" value=""
                                                placeholder="Enter last name">
                                        </div>
                                        <div class="mb-3">
                                            <label>Username</label>
                                            <input type="text" id="uN" class="form-control text-white" name="username"
                                                placeholder="Enter user name">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label>Email address</label>
                                        <input type="email" id="eA" class="form-control" name="email" value=""
                                            placeholder="Enter email">
                                    </div>

                                    <div class="mb-3">
                                        <label>Phone</label>
                                        <input type="text" id="pN" class="form-control" name="phone" value=""
                                            placeholder="Enter phone">
                                    </div>


                                    <div class="row">

                                        <div class="form-group col-md-6 mb-3 ">
                                            <label>Country</label>
                                            <input type="text" id="cN" name="country" class="form-control" value="">
                                        </div>

                                        <div class="col-md-6 mb-3">

                                            <label>City</label>
                                            <input type="text" id="cT" name="city" class="form-control form_control" value="">

                                        </div>

                                        <div class="col-md-6 mb-3">

                                            <label>Zip</label>
                                            <input type="text" id="zP"  name="zip" class="form-control form_control" value="">

                                        </div>

                                        <div class="col-md-6 mb-3">

                                            <label>State</label>
                                            <input type="text" id="sT" name="state" class="form-control form_control" value="">

                                        </div>

                                    </div>

                                    <button type="button" class="btn main-btn mt-3 w-100 gen-btn" onclick="submitBtn()">Submit</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <script>
        'use strict'
        document.getElementById("imageUpload").onchange = function () {
            show();
        };

        function show() {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-id-preview");
                preview.src = src;
                preview.style.display = "block";
                document.getElementById("file-id-preview").style.visibility = "visible";
            }
        }
    </script>





    <script>
        'use strict'
        var url = "";

        $(".changeLang").change(function () {
            if ($(this).val() == '') {
                return false;
            }
            window.location.href = url + "?lang=" + $(this).val();
        });

        feather.replace();

        // responsive menu slideing
        $(".d-sidebar-menu>li>a").on("click", function () {
            var element = $(this).parent("li");
            if (element.hasClass("open")) {
                element.removeClass("open");
                element.find("li").removeClass("open");
                element.find("ul").slideUp(500, "linear");
            } else {
                element.addClass("open");
                element.children("ul").slideDown();
                element.siblings("li").children("ul").slideUp();
                element.siblings("li").removeClass("open");
                element.siblings("li").find("li").removeClass("open");
                element.siblings("li").find("ul").slideUp();
            }
        });

        $('.sidebar-open-btn').on('click', function () {
            $(this).toggleClass('active');
            $('.d-sidebar').toggleClass('active');
        });
    </script>
    <script src="../scripts/main.js"></script>

    <script>
        function clearErrors() {
                const errMsg = document.getElementById('errorMsg');
                errMsg.textContent = '';
        }

        function displayError(msg) {
                const errMsg = document.getElementById("errorMsg");
                errMsg.innerHTML += `<p class="text-center lead mb-4" >${msg}</p>`
                setTimeout(clearErrors, 5000)
        }
        function displaysuccess(msg) {
                const errMsg = document.getElementById("successMsg");
                errMsg.innerHTML += `<p class="text-center lead mb-4" >${msg}</p>`
                setTimeout(clearErrors, 5000)

        }
        async function submitBtn(){
            const fnInput = document.getElementById("fN");
            const lnInput = document.getElementById("lN");
            const unInput = document.getElementById("uN");
            const eaInput = document.getElementById("eA");
            const pnInput = document.getElementById("pN");
            const cNInput = document.getElementById("cN");
            const ctInput = document.getElementById("cT");
            const zpInput = document.getElementById("zP");
            const stInput = document.getElementById("sT");

            if(!fnInput.value || 
                !lnInput.value || 
                !unInput.value || 
                !eaInput.value || 
                !pnInput.value || 
                !cNInput.value ||
                !ctInput.value ||
                !zpInput.value ||
                !stInput.value 
            ){
                displayError("Provide the needed value(s)")
            }

            if(await isAuthenticated()){

                displaysuccess("Your details have been updated successfully!!");
                window.location.href =  "../dashboard/dashboard.html"

            }else{
                redirectToLogin()
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
</body>

</html>